@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	margin:0;padding:0; 
	position:relative;
	background: #ffd;
}

h1 {
	text-align: center;
}

p{margin: 5px;padding: 5px;}

#menu {
	margin:50px; padding:0;
	width: 1000px; height: 400px; 
	background: #ddd; 
	border: 1px solid #f1f1f1;
	left:0; top:0;
	display: none;
	column-count:2;
}

.menu-break {
    break-before: column;
    break-after: column;
}

#showmenu {
	position:fixed; 
	top:0; left:0; 
	background: #666;
	margin:0; padding:10px 17px; 
	color:#eee;
	font-family:;}

#content {
	display: inline-block;
	position:absolute;
	margin:50px; padding:0px;
	overflow: hidden;
	text-align: justify;
	color: #000;
	font-family: 'Ubuntu', sans-serif;

	
    -webkit-column-count: 2;
    -webkit-column-width: 200px;
    column-count: 2;
    column-width: 200px;

	-webkit-column-gap: 50px;
	-moz-column-gap: 50px;
	column-gap: 50px;

	-moz-column-rule: 2px dotted #ccc;
	-webkit-column-rule: 2px dotted #ccc;
	column-rule: 2px dotted #ccc;
}

#content img {
	break-before: column;
	max-width: 600px;
    margin: 5px;
}

pre, code {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, начиная с 1999 года\*/
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
table {
    margin: 5px;
    padding: 5px;
    break-before: column;
    page-break-before: always;
}
td,th {margin:0;border: 1px solid #ccc;}



