@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
	margin:0;padding:0; 
	position:relative;
	background: #ffd;
}

h1 {
	text-align: center;
}

#menu {
	margin:50px; padding:0;
	width: 1000px; height: 400px; 
	background: #ddd; 
	border: 1px solid #f1f1f1;
	left:0; top:0;
	display: none;
	column-count:2;
}

.menu-break {
    break-before: column;
    break-after: column;
}

#showmenu {
	position:fixed; 
	top:0; left:0; 
	background: #666;
	margin:0; padding:10px 17px; 
	color:#eee;
	font-family:;}

#content {
	position:absolute;
	height: 600px;
	width:600px;
	margin:50px; padding:0px;
	overflow: hidden;
	text-align: justify;
	color: #000;
	font-family: 'Ubuntu', sans-serif;

	
	-webkit-column-width: 500px;
	-moz-column-width: 500px;
	column-width: 500px;

	-webkit-column-gap: 50px;
	-moz-column-gap: 50px;
	column-gap: 50px;

	-moz-column-rule: 2px dotted #ccc;
	-webkit-column-rule: 2px dotted #ccc;
	column-rule: 2px dotted #ccc;
}

#content img {
	    break-before: column;
	    max-width: 600px;
}